.categories {
    width: 100%;
    padding: 40px 35px;
    background-color: #7E131B;
    display: flex;
    align-items: center;
    justify-content: center;
}

.categories .cat--parent {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.categories .cat--parent .category {
    flex: 1;
    text-align: center;
    width: 210px;
    height: 291px;
    transition: all 150ms linear;
}


.categories .cat--parent:hover > .category {
    opacity: 0.5;
}

.categories .cat--parent .category:hover {
    opacity: 1;
}

.categories .category a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
}

.categories .category h2 {
    color: white;
    font-size: 20px;
}

.categories .category .cat--image img {
    display: block;
    width: 100%;
    height: 260px;
    object-fit: cover;
}