.cookies {
    width: 100%;
    /*padding: 0 0 40px;*/
}

.cookies .background {
    margin: 45px;
    display: flex;
    flex-flow: row;
    padding: 10px;
    border-radius: 53px;
    background-color: #E6F3FF;
    gap: 15px;
}

.cookies .background .image {
    border: 3px solid white;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    /*margin-right: 20px;*/
}

.cookies .background .image img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cookies .background .cookie-img {
    width: 50px;
    height: 100px;
}

.cookies .background .cookie-img img {
    width: 100%;
    height: 100%;
}

.cookies .background .description {
    display: flex;
    flex-flow: column;
    gap: 7px;
}

.cookies .background .description .links {
    font-size: 14px;
    font-weight: 400;
    display: flex;
    gap: 20px;
}

.cookies .background .description .links .link {
    color: #006DB7;
    text-decoration: none;
}

.cookies .background .description .links .link:hover {
    text-decoration: underline;
}

.cookies .background .description p {
    font-size: 14px;
    font-weight: 300;
}