header {
    width: 100%;
}

header .top-bar {
    width: 100%;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    background-color: rgb(248, 248, 248);
}

header .top-bar .playzone--link {
    margin-right: 130px;
    height: 25px;
    padding: 0 10px;
    color: black;
    background-color: rgb(171, 217, 255);
    border-radius: 3px;
    font-size: 0.75rem;
    text-decoration: none;
    box-shadow: rgba(48, 85, 181, 0.44) 0 1px 4px 0;
    display: flex;
    align-items: center;
    column-gap: 10px;
}

header .top-bar .playzone--link svg {
    transform: rotateY(180deg);
}

header .top-bar .playzone--link:hover {
    background-color: white;
}

header .top-bar .slider {
    justify-self: center;
    width: 555px;
    height: 100%;
}

header .top-bar .slider .swiper-button-next::after {
    font-size: 20px;
    color: black;
}

header .top-bar .slider .swiper-button-prev::after {
    font-size: 20px;
    color: black;
}

header .top-bar .slider .mySwiper-1 {
    width: 100%;
    height: 100%;
}

header .top-bar .slider .mySwiper-1 .swiper-wrapper .swiper-slide {
    color: black;
    text-decoration: none;
    font-size: 0.75rem;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.7);
}

header .top-bar .slider .mySwiper-1 .swiper-wrapper .swiper-slide a {
    margin-left: 20px;
    text-decoration: none;
    color: rgb(0, 109, 183, 0.7);
}

header .top-bar .slider .mySwiper-1 .swiper-wrapper .swiper-slide a:hover {
    text-decoration: underline;
}

header .top-bar .slider .swiper-slide {
    text-align: center;
    background: rgb(248, 248, 248);
    display: flex;
    justify-content: center;
    align-items: center;
}

header .top-bar .login {
    display: flex;
    align-items: center;
    column-gap: 20px;
}

header .top-bar .login span {
    width: 1px;
    height: 20px;
    background-color: black;
}

header .top-bar .login .signin--link {
    display: flex;
    align-items: center;
    font-size: 0.75rem;
    color: black;
    text-decoration: none;
}

header .top-bar .login .signin--link svg {
    margin-right: 10px;
}

header .top-bar .login .jli--link {
    color: black;
    text-decoration: none;
    font-size: 0.75rem;
    font-weight: 500;
    display: flex;
    align-items: center;
}

header .top-bar .login .jli--link svg {
    margin-right: 10px;
}

header .top-menu {
    width: 100%;
    height: 75px;
    background-color: #FFCF00;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}

header .top-menu .menu--left .menu--list {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 55px;
}

header .top-menu .menu--left .menu--list .menu--item {
    display: inline-block;
    width: auto;
}

header .top-menu .menu--left .menu--list .last--menu--item {
    background-color: white;
    border-radius: 4px;
    width: 100%;
    height: 34px;
    display: flex;
    justify-content: center;
    align-content: center;
}

header .top-menu .menu--left .items .menu--nav .menu--list .last--menu--item .last--menu--link {
    padding-left: 20px;
    padding-right: 20px;
    line-height: 34px;
    font-weight: normal;
    color: rgb(208, 2, 27);
    text-decoration: none;
}

header .top-menu .menu--left .items .menu--nav .menu--list .last--menu--item:hover {
    background-color: black;
}

header .top-menu .menu--left .items .menu--nav .menu--list .last--menu--item:hover .last--menu--link {
    color: white;
}


header .top-menu .menu--left .menu--list .menu--item .menu--link {
    display: block;
    text-decoration: none;
    color: black;
    font-size: 1rem;
    border-bottom: 3px solid transparent;
}

header .top-menu .menu--left .menu--list .menu--item .menu--link:hover {
    border-bottom: 3px solid black;
}

header .top-menu .menu--right {
    height: 100%;
    /*width: 100px;*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 20px;
}

header .top-menu .menu--right .shop {
    margin-right: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
}

header .top-menu .menu--right .magnifier {
    margin-right: 10px;
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    border: none;
}

header .top-menu .menu--right .magnifier svg {
    transform: translateY(2px);
}

header .top-menu .menu--right .wishlist {
    display: flex;
}

header .top-menu .menu--right .bag {
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: small;
}

header .top-menu .menu--right .bag p {
    padding-left: 5px;
}

header .top-menu .menu--right .bag:hover {
    text-decoration: underline;
}