.new-in {
    width: 100%;
    background-color: #018381;
    padding: 40px;
}

.new-in .title {
    color: #FFFFFF;
    font-size: 32px;
    font-weight: 400;
}

.new-in .slider6 {
    width: 100%;
    /*height: 400px;*/
    margin-top: 30px;
}

.new-in .slider6 .swiper {
    width: 100%;
    height: 100%;
}

.new-in .slider6 .swiper-slide {
    width: 280px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 18px;
    background-color: white;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
}

.new-in .slider6 .swiper-slide .wishlist {
    align-self: flex-start;
    width: 30px;
    height: 30px;
    margin: 10px 0 0 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: rgb(0, 109, 183);
    text-decoration: none;
    background-color: rgb(248, 248, 248);
    border-radius: 50%;
}

.new-in .slider6 .swiper-slide .image {
    color: black;
    text-decoration: none;
    width: 100%;
    height: 237px;
    display: block;
    padding-bottom: 15px;
    position: relative;
}

.new-in .slider6 .swiper-slide .image .badge {
    height: 25px;
    line-height: 25px;
    position: absolute;
    background-color: #FFCF00;
    left: 10px;
    font-size: 13px;
    font-weight: 400;
}

.new-in .slider6 .swiper-slide .caption {
    margin-top: 20px;
    width: 100%;
    height: 100%;
    background-color: #14A5A3;
    padding: 12px 20px 20px;
}

.new-in .slider6 .swiper-slide .caption .sub-title {
    height: 50px;
    display: block;
    text-align: left;
    text-decoration: none;
    font-size: 16px;
    padding: 5px 0;
    font-weight: 500;
    color: black;
}

.new-in .slider6 .swiper-slide .caption .sub-title:hover {
    text-decoration: underline;
}

.new-in .slider6 .swiper-slide .caption .rating {
    width: 100%;
    text-align: left;
    display: flex;
    padding: 0 0 5px;
}

.new-in .slider6 .swiper-slide .caption .price {
    font-weight: 600;
    text-align: left;
    display: block;
    padding: 0 0 10px;
}

.new-in .slider6 .swiper-slide .caption .purchase {
    width: 100%;
    font-size: 16px;
    background-color: #A10D1D;
    text-decoration: none;
    color: #FFFFFF;
    padding: 18px;
    display: block;
    border-radius: 4px;
    border: 2px solid transparent;
}

.new-in .slider6 .swiper-slide .caption .purchase:hover {
    background-color: transparent;
    border: 2px solid #A10D1D;
}

.new-in .slider6 .swiper-slide .image .badge span {
    font-size: 13px;
    font-weight: 400;
    padding: 10px;
}

.new-in .slider6 .swiper-slide .image img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: all 300ms ease-out;
}

.new-in .slider6 .swiper-slide .image:hover img {
    scale: 1.1;
}

.new-in .slider6 .swiper-button-next {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    border: 1px solid black;
    background-color: rgb(44, 44, 44);
}

.new-in .slider6 .swiper-button-prev {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    border: 1px solid black;
    background-color: rgb(44, 44, 44);
}

.new-in .slider6 .swiper-button-next::after {
    scale: 0.5;
    color: rgb(224, 224, 224);
}

.new-in .slider6 .swiper-button-prev::after {
    scale: 0.5;
    color: rgb(224, 224, 224);
}