.theme-products {
    width: 100%;
    height: 519px;
    background-color: #018381;
    padding: 15px;
}

.theme-products .parent {
    padding: 40px 20px;
}

.theme-products .parent {
    width: 100%;
    height: 100%;
    padding: 40px 20px;
}

.theme-products .parent .slider2 .swiper {
    width: 100%;
    height: 100%;
}

.theme-products .parent .slider2 .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.theme-products .parent .slider2 .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.theme-products .parent .title {
    padding-bottom: 25px;
    color: #FFFFFF;
    font-size: 32px;
    font-weight: 400;
}

.theme-products .parent .slider2 .swiper-slide .the-theme {
    width: 100%;
    height: 100%;
}

.theme-products .parent .slider2 .swiper-slide .the-theme a {
    display: block;
    text-decoration: none;
    color: #FFFFFF;
}

.theme-products .parent .slider2 .swiper-slide .the-theme a .sub-title {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 30px;
}

.theme-products .parent .slider2 .swiper-slide .the-theme a span {
    display: flex;
    font-size: 16px;
    font-weight: 500;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 50px;
}

.theme-products .parent .slider2 .swiper-slide .the-theme:hover span {
    text-decoration: underline;
}

/*      pagination buttons css*/
.theme-products .parent .slider2 .swiper-button-next {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    border: 1px solid black;
    background-color: rgb(44, 44, 44);
}

.theme-products .parent .slider2 .swiper-button-prev {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    border: 1px solid black;
    background-color: rgb(44, 44, 44);
}

.theme-products .parent .slider2 .swiper-button-next::after {
    scale: 0.5;
    color: rgb(224, 224, 224);
}

.theme-products .parent .slider2 .swiper-button-prev::after {
    scale: 0.5;
    color: rgb(224, 224, 224);
}